<div style="margin:auto;">
  <form #myForm="ngForm"  (ngSubmit)='addFdog()'>
    <div class="card-body card-block">
    <div class="form-group row">
      <div class="col col-lg-5">
        <label for="company" class=" form-control-label">Imię</label>
        <input type="text" class="form-control" id="inputNick" aria-describedby="emailHelp" required name="imie" [(ngModel)]="model.imie">
      </div>
      <div class="col col-lg-5">
        <label for="exampleInputEmail1">Płeć</label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" required name="plec" [(ngModel)]="model.plec">
          <option>Suka</option>
        </select>
      </div>
      <div class="col">
        <label for="exampleInputEmail1">Rasa</label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" required name="rasa" [(ngModel)]="model.rasa">
          <option>Airedale terrier</option>
          <option>Akbash dog</option>
          <option>Akita</option>
          <option>Alapaha blue blood bulldog</option>
          <option>Alaskan klee kai</option>
          <option>Alaskan malamute</option>
          <option>American eskimo dog</option>
          <option>Amerykański spaniel wodny</option>
          <option>Amerykański staffordshire terrier</option>
          <option>Anatolijski pies pasterski</option>
          <option>Appenzeller</option>
          <option>Australian cattle dog</option>
          <option>Australian silky terrier</option>
          <option>Basenji</option>
          <option>Basset hound</option>
          <option>Beagle</option>
          <option>Bearded collie</option>
          <option>Bernardyn</option>
          <option>Berneński pies pasterski</option>
          <option>Bichon frise</option>
          <option>Black tan coonhound</option>
          <option>Bloodhound</option>
          <option>Boerboel</option>
          <option>Bokser</option>
          <option>Border collie</option>
          <option>Border terrier</option>
          <option>Boston terrier</option>
          <option>Bouvier des flandres</option>
          <option>Briquet griffon vendéen</option>
          <option>Buldog amerykański</option>
          <option>Buldog angielski</option>
          <option>Buldog francuski</option>
          <option>Bullmastiff</option>
          <option>Bulterier</option>
          <option>Bulterier miniaturowy</option>
          <option>Cairn terrier</option>
          <option>Canaan dog</option>
          <option>Catahoula leopard dog</option>
          <option>Cavalier king charles spaniel</option>
          <option>Charcik włoski</option>
          <option>Chart afgański</option>
          <option>Chart angielski</option>
          <option>Chart perski - saluki</option>
          <option>Chart rosyjski borzoj</option>
          <option>Chart szkocki</option>
          <option>Chihuahua</option>
          <option>Chin japoński</option>
          <option>Chinese foo</option>
          <option>Chow chow</option>
          <option>Clumber spaniel</option>
          <option>Cocker spaniel amerykański</option>
          <option>Cocker spaniel angielski</option>
          <option>Coton de tuléar</option>
          <option>Curly coated retriever</option>
          <option>Czarny terier rosyjski</option>
          <option>Dalmatyńczyk</option>
          <option>Dandie dinmont terrier</option>
          <option>Doberman</option>
          <option>Dog niemiecki</option>
          <option>Dogue de bordeaux</option>
          <option>Duży szwajcarski pies pasterski</option>
          <option>English toy terrier</option>
          <option>Epagneul breton</option>
          <option>Field spaniel</option>
          <option>Fila brasileiro</option>
          <option>Flat coated retriever</option>
          <option>Foksterier krótkowłosy</option>
          <option>Foksterier szorstkowłosy</option>
          <option>Foxhound amerykański</option>
          <option>Foxhound angielski</option>
          <option>Golden retriever</option>
          <option>Gryfon korthalsa</option>
          <option>Gryfonik</option>
          <option>Harrier</option>
          <option>Hawańczyk</option>
          <option>Irish soft coated wheaten terrier</option>
          <option>Irlandzki spaniel wodny</option>
          <option>Jack Russell terrier</option>
          <option>Jamnik</option>
          <option>Kerry blue terrier</option>
          <option>King Charles spaniel</option>
          <option>Komondor</option>
          <option>Kuvasz</option>
          <option>Labrador retriever</option>
          <option>Lakeland terrier</option>
          <option>Lhasa apso</option>
          <option>Lwi piesek</option>
          <option>Maltańczyk</option>
          <option>Manchester terrier</option>
          <option>Mastif angielski</option>
          <option>Mastif neapolitański</option>
          <option>Miniature australian shepherd</option>
          <option>Mops</option>
          <option>Moskiewski stróżujący</option>
          <option>Nagi pies meksykański</option>
          <option>Norfolk terrier</option>
          <option>Norsk buhund</option>
          <option>Owczarek australijski</option>
          <option>Owczarek belgijski groenendael</option>
          <option>Owczarek francuski beauceron</option>
          <option>Owczarek niemiecki</option>
          <option>Owczarek środkowoazjatycki</option>
          <option>Owczarek staroangielski</option>
          <option>Owczarek szetlandzki</option>
          <option>Pekińczyk</option>
          <option>Pies faraona</option>
          <option>Pitbull amerykański</option>
          <option>Pointer</option>
          <option>Polski owczarek nizinny</option>
          <option>Pudel duży</option>
          <option>Pudel miniaturowy</option>
          <option>Puli</option>
          <option>Rottweiler</option>
          <option>Shiba</option>
          <option>Shih tzu</option>
          <option>Siberian husky</option>
          <option>Spaniel tybetański</option>
          <option>Staffordshire bull terrier</option>
          <option>Sznaucer miniaturowy</option>
          <option>Sznaucer olbrzym</option>
          <option>Sznaucer średni</option>
          <option>Terier irlandzki</option>
          <option>Welsh corgi pembroke</option>
          <option>Whippet</option>
          <option>Wilczarz irlandzki</option>
          <option>Wyżeł niemiecki krótkowłosy</option>
          <option>Wyżeł weimarski</option>
          <option>Yorkshire terrier</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      
      <div class="col">
        <label for="exampleInputEmail1">Maść</label>
        <input type="text" class="form-control" id="inputNick" aria-describedby="emailHelp" required name="masc" [(ngModel)]="model.masc">
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <label for="exampleInputEmail1">Długość sierści</label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" required name="dlugoscsiersci" [(ngModel)]="model.dlugoscSiersci">
          <option>długa</option>
          <option>średnia</option>
          <option>krótka</option>
        </select>
      </div>
      <div class="col">
        <label for="exampleInputEmail1">Rodowód</label>
        <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" required name="rodowod" [(ngModel)]="model.rodowod">
          <option value=true>Posiada</option>
          <option value=false>Nie posiada</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col">
        <label for="exampleInputEmail1">Data Urodzenia</label>
        <input type="datetime-local" class="form-control" id="inputNick" aria-describedby="emailHelp" required name="masc" [(ngModel)]="model.dataUrodzenia">
      </div>
    </div>
    
  </div>
  <button type="submit"  class="btn btn-success float-right" [disabled]="!myForm.valid"  (click)="canceladd()">Dodaj</button>
    <button type="button"  class="btn btn-info float-right" (click)="canceladd()">Anuluj</button>
  </form>
</div>