
<div class="mat-typography ng-tns-0-0">
  <div class="page-content--bgf7">
    <section class="au-breadcrumb2"> </section>
    <section class="welcome p-t-10">
      <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <h1 class="title-4">Menu
                  </h1>
                  <hr class="line-seprate">
              </div>
          </div>
      </div>
  </section>
    <section class="p-t-20">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive table-responsive-data2">

              
              <div id="container">
               
                <table  routerLinkActive="['active']" class="list-group" class="table table-data2">
                
                   <tbody>
                   
                      <tr class="tr-shadow">
                        <td  style="cursor:pointer;" routerLinkActive="active" [routerLink]="['/matki']">
                          <h2>Szczeniaki</h2>
                        </td>
                        
                        
                      </tr>
                      
                   
                      <tr class="spacer" ></tr>
                      <tr class="tr-shadow">
                       
                        <td  style="cursor:pointer;" routerLinkActive="active" [routerLink]="['/suki']">
                          <h2>Suki</h2>
                        </td>
                     
                        
                      </tr>
                      <tr class="spacer" ></tr>
                      <tr class="tr-shadow">
                       
                       
                        <td  style="cursor:pointer;" routerLinkActive="active" [routerLink]="['/psy']">
                          <h2>Psy</h2>
                        </td>
                        
                      </tr>
                      <tr class="spacer" ></tr>
                  </tbody>
           
                </table>
               

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
